<div id="add" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/log-entry/add.less</em>, <em>assets/js/pages/log-entry/add.page.js</em>, and <em>api/controllers/log-entry/view-add.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
